* {
  margin: 0;
}
.wrapper {
  height: 500px;
  width: 800px;
  background-color: #ddd;
  margin: 0 auto;
}
h1 {
  padding: 20px 40px;
}

.flex-area {
  display: flex;
  /* flex-direction: column; */
  /* gap: 20px; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  flex-grow: 2;
}
.box {
  height: 150px;
  width: 150px;
}
.left {
  background-color: #adf;
}
.middle {
  background-color: #2b3;
}

.right {
  background-color: #3df;
}
